body{
    background: rgb(240, 128, 184);
    }
h1{
    background-color: brown    
  }
    .reg{
        background-color: coral
    }
    .mytable{
        margin-top: 100px;
        border-style: solid;
        border-width: 2px;

    }
    .middleDiv{
        position : absolute;
        height : 90%;
        bottom: 5%;
    }

